<!DOCTYPE html>
<html>
<head>
    <title>Jeu de la vie</title>
    <style>
        table {
            border-collapse: collapse;
        }

        td {
            width: 20px;
            height: 20px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Jeu de la vie</h1>
    <table id="grid">
        {% for row in grille %}
            <tr>
                {% for cell in row %}
                    <td style="background-color: {% if cell == 1 %}black{% else %}white{% endif %}"></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <script>
        var refreshInterval = 500;
        var iterations = {{ iterations }};
    
        function updateGrid() {
            fetch('/update_grid')
                .then(response => response.json())
                .then(data => {
                    var grille = data.grille;
                    iterations = data.iterations;
    
                    for (var i = 0; i < grille.length; i++) {
                        for (var j = 0; j < grille[i].length; j++) {
                            var cell = document.getElementById('grid').rows[i].cells[j];
                            cell.style.backgroundColor = grille[i][j] === 1 ? 'black' : 'white';
                        }
                    }
    
                    if (iterations > 0) {
                        setTimeout(updateGrid, refreshInterval);
                    }
                });
        }
    
        setTimeout(updateGrid, refreshInterval);
    </script>    
</body>
</html>
